body {
    margin: 0;
    padding: 0;
}


.App {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.WorkingArea {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4c67ff;
    overflow-y: scroll;
}

.PlotView {
  background-color: #030b44;
}

.Select {
    width: 200px;
}
.Plot{
    justify-content: center;

}
.Card{
    margin: 8px;

}
/**/

.CardActions{
    flex-direction: row-reverse;;
}
.CardContent{
    background: #4c67ff;

}