body {
    margin: 0;
    padding: 0;
}


.App {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.WorkingArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c3fff0;
    overflow-y: scroll;
}

.PlotView {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.Select {
    width: 200px;
}

.Plot {
    background-color: #9ab9ed;
    margin: 5px;
    width: auto;
    height: 90px;
}
